<%- include('layouts/header.ejs') %>

  <!-- carousel -->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active c-item"> <!-- c-item class to adjust size holding image-->
        <img src="/photo1.jpeg" class="d-block w-100 c-img" alt="..."> <!--c-image adjust image size-->
        <div class="carousel-caption top-0 mt-4">
          <h1>Roscoe</h1>
        </div>
      </div>
      <div class="carousel-item c-item"> <!-- c-item class to adjust size holding image-->
        <img src="/photo2.jpeg" class="d-block w-100 c-img" alt="..."> <!--c-image adjust image size-->
        <div class="carousel-caption top-0 mt-4">
          <h1>Big Bend National Park</h1>
        </div>
      </div>
      <div class="carousel-item c-item"> <!-- c-item class to adjust size-->
        <img src="/photo3.jpeg" class="d-block w-100 c-img" alt="..."> <!--c-image adjust image size-->
        <div class="carousel-caption top-0 mt-4">
          <h1>Florence, Italy</h1>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- end carousel -->


  <div class="container-fluid bg-dark">
    <div class="row-cols-md-3">
      <p class="text-warning">My name is Will Sharpe. I am from San Antonio and now live in Bulverde, Texas. I enjoy spending time with my wife and dog in the great outdoors, hiking and camping. I am passionate about travel and experiencing new places and cultures. I love trying the food and wine everywhere I visit.  </p>
    </div>

  </div>


  <%- include('layouts/footer.ejs') %>  