<%- include('layouts/header.ejs') %>


  <div class="container bg-white mb-2">
    <div class="row">
      <div class="col text-center">
  <img src="/education.png" class="img-fluid" alt="education.png">
  </div>
  </div>
</div>
  <!-- list -->

  <ul class="list-group text-center">
    <li class="list-group-item">Ronald Reagan - High School Diploma</li>
    <li class="list-group-item">Alamo Colleges - Associates of Sciences - Computer Programming</li>
    <li class="list-group-item">A&M University-San Antonio - Bachelor's of Science - Computer Science</li>
    <li class="list-group-item">Expected Graduation: Spring 2024</li>
  </ul>
  <!-- end list -->

  <br>

  <!-- video -->
  <div class="container">
    <div class="row text-center">
      <div class="embed-responsive">
        <iframe class="embed-responsive-item youtube" src="https://www.youtube.com/embed/taF661Ojv6E?rel=0"></iframe>
      </div>
    </div>
  </div>

  <!-- end video -->

  <%- include('layouts/footer.ejs') %>  