<%- include('layouts/header.ejs') %>


  <br>

  <div class="container bg-white mb-2">
    <div class="row">
      <div class="col text-center">
  <img src="/projects.jpeg" class="img-fluid" alt="education.png">
  </div>
  </div>
</div>
  <!-- list -->
  <ul class="list-group text-center">
    <li class="list-group-item">This website</li>
    <li class="list-group-item">Other webiste</li>
    <li class="list-group-item">One more website</li>
  </ul>

  <!-- end list -->
  

  <%- include('layouts/footer.ejs') %>  